body {
  font-size: 18px;
}

header,
main,
footer {
  font-family: "Roboto Slab", serif;
}

main ul {
  list-style: none;
}

header,
footer {
  background-color: #2c6e49;
  color: #fff;
}

h1,
h2 {
  font-family: "Shippori Antique", sans-serif;
}

header {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

#title {
  grid-column: 1/2;
  align-self: center;
  justify-self: center;
  font-size: 20px;
  text-align: center;
}

#profile {
  grid-column: 2/3;
  align-self: center;
  justify-self: center;
  border: 2px solid white;
  border-radius: 70px;
  width: 150px;
}

main {
  margin: 0 2% 0 2%;
}

.assignments {
  line-height: 2em;
}

footer {
  padding: 5px;
  text-align: center;
}
