@media only screen and (min-width: 64rem) {
  .index-main {
    margin-left: 10px;
    margin-right: 10px;
  }
  .index-photos {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .index-photo {
    width: 1000px;
  }
  .banner {
    padding: 15px;
    font-size: 22px;
  }

  h1.header-name {
    font-size: 40px;
  }

  img#logoTop {
    width: 200px;
  }

  nav ul li a {
    font-size: 25px;
    padding: 30px;
  }

  nav button {
    display: none;
  }

  nav ul {
    display: flex;
    flex-direction: row;
  }

  .sub {
    position: relative;
    display: inline-block;
  }

  .submenu {
    display: none;
    position: absolute;
    z-index: 1;
  }

  .sub:hover .submenu {
    display: block;
  }

  /* footer */

  footer {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .foot-chunk {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
  }

  #logoBottom {
    width: 200px;
    border: solid 2px #52796f;
  }

  /* index-main */

  #comeStayIndexBtn {
    top: 400px;
    right: 700px;
  }

  .sub-categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
  }

  .temple-highlight {
    grid-column: 1/2;
  }

  .weather {
    grid-column: 2/3;
  }

  q {
    font-size: 18px;
  }

  figcaption#weathercap {
    font-size: 18px;
  }

  .services {
    grid-column: 3/4;
    display: block;
  }

  .serviceimg {
    max-width: 75%;
  }
}
