@media only screen and (min-width: 64rem) {
  .index-main {
    margin-left: 10px;
    margin-right: 10px;
  }
  .index-photos {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .index-photo {
    width: 1000px;
  }
  .banner {
    padding: 15px;
    font-size: 22px;
  }

  h1.header-name {
    font-size: 40px;
  }

  img#logoTop {
    width: 200px;
  }

  nav ul li a {
    font-size: 25px;
    padding: 30px;
  }

  nav button {
    display: none;
  }

  nav ul {
    display: flex;
    flex-direction: row;
  }

  .sub {
    position: relative;
    display: inline-block;
  }

  .submenu {
    display: none;
    position: absolute;
    z-index: 1;
  }

  .sub:hover .submenu {
    display: block;
  }

  /* footer */

  footer {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .foot-chunk {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
  }

  #logoBottom {
    width: 200px;
    border: solid 2px #52796f;
  }

  /* index-main */

  #comeStayIndexBtn {
    top: 400px;
    right: 700px;
    padding: 8px;
  }

  .sub-categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
  }

  .temple-highlight {
    grid-column: 1/2;
  }

  .weather {
    grid-column: 2/3;
  }

  q {
    font-size: 18px;
  }

  figcaption#weathercap {
    font-size: 18px;
  }

  .services {
    grid-column: 3/4;
    display: block;
  }

  .serviceimg {
    max-width: 75%;
  }

  .reservation-photo {
    width: 1100px;
  }

  .res-imgs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  #photo2 {
    display: block;
  }

  /* services page */
  .services-main h2 {
    padding-left: 30%;
    padding-right: 30%;
  }

  .s-flex {
    display: flex;
    flex-direction: row;
  }

  .s-brek {
    width: 100%;
  }

  .services-page {
    display: flex;
    align-content: space-evenly;
  }

  .s-page img {
    width: 80%;
    border-radius: 10px;
  }

  .s-page a {
    text-decoration: none;
  }

  .s-page h3 {
    font-size: 22px;
    background-color: #2f3e46;
    padding: 10px;
    width: 50%;
  }

  .s-page {
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 2px solid #52796f;
    padding-bottom: 2%;
  }

  #weddingPic2 {
    display: inline-block;
    padding-top: 2%;
    border-radius: 10px;
  }

  .specialized {
    background-color: #cad2c5;
  }

  /* Reception page */

  .gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .pictures-1st {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .pictures-2nd {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .wedding {
    width: 35%;
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 5%;
  }

  .receptions-main {
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 2px solid #cad2c5;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .reception-text {
    max-width: 85%;
    margin-bottom: 2%;
    border: 2px solid #52796f;
  }

  .receptions-main h2 {
    padding-left: 30%;
    padding-right: 30%;
  }

  /* Mission Page */

  .mission-flex {
    display: flex;
    flex-direction: column;
  }

  .mission-1,
  .mission-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .mission-pic {
    width: 50%;
  }

  .mission-main {
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 2px solid #cad2c5;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mission-main h2 {
    padding-left: 30%;
    padding-right: 30%;
  }

  .mission-flex p {
    text-align: center;
  }

  .mission-flex {
    max-width: 80%;
  }

  /* Booked Page */
  .booked-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid #cad2c5;
  }

  .booked-main h2 {
    padding-left: 30%;
    padding-right: 30%;
  }

  .confirmed {
    padding: 100px;
    border: 2px solid #2f3e46;
    max-width: 80%;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .confirmed p {
    font-size: 25px;
  }
}
