@media only screen and (min-width: 64rem) {
  .index-photos {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .index-photo {
    width: 900px;
  }
  .banner {
    padding: 15px;
    font-size: 22px;
  }

  h1.header-name {
    font-size: 40px;
  }

  nav button {
    display: none;
  }

  nav ul {
    display: flex;
    flex-direction: row;
  }

  .sub {
    position: relative;
    display: inline-block;
  }

  .submenu {
    display: none;
    position: absolute;
    z-index: 1;
  }

  .sub:hover .submenu {
    display: block;
  }

  .sub-categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
  }

  .temple-highlight {
    grid-column: 1/2;
  }

  .weather {
    grid-column: 2/3;
  }

  .services {
    grid-column: 3/4;
    display: block;
  }

  .serviceimg {
    max-width: 75%;
  }
}
