@media only screen and (min-width: 35rem) {
  h1.header-name {
    font-size: 30px;
  }

  .sub-categories {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .sub-categories > div {
    border: solid 2px #52796f;
  }

  .templeimg {
    max-width: 75%;
  }
}
