body {
  text-align: center;
}

h1,
h2 {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
}

h2 {
  font-family: "Dancing Script", cursive;
  font-size: 32px;
}

p {
  font-family: "Lora", serif;
  font-size: 18px;
}

.cards {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 5px;
  border: 10px solid white;
}

.cards section {
  border: 2px #595148 solid;
  border-collapse: collapse;
  background-color: #b2a18f;
  padding: 10px;
  box-shadow: 0 0 30px #595148;
}

img {
  width: auto;
  max-width: 200px;
  box-shadow: 0 0 30px #595148;
}
