body {
  text-align: center;
}

h1,
h2 {
  font-family: "Dancing Script", cursive;
  font-size: 3em;
}

h2 {
  font-family: "Dancing Script", cursive;
  font-size: 2em;
}

p {
  font-family: "Lora", serif;
  font-size: 18px;
}

.cards {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 5px;
}

.cards section {
  border: 2px black solid;
  border-collapse: collapse;
  background-color: #623e1b;
}

img {
  max-width: 100%;
}
