table {
  width: 35%;
  max-width: 350px;
  min-width: 300px;
  margin: 10px auto;
  box-shadow: 8px 8px 12px #6b705c;
}

table,
caption,
th,
tr,
td {
  border: 1px solid black;
  border-collapse: collapse;
  font-family: "Ubuntu", sans-serif;
  padding: 10px;
  text-align: center;
}

tfoot {
  font-size: 12px;
}

caption {
  font-weight: 700;
  font-size: 1.5rem;
}

th {
  color: white;
  background-color: #6b705c;
}

tbody tr:nth-child(even) {
  background-color: #ddbea9;
}

tbody tr:nth-child(odd) {
  background-color: #b7b7a4;
}

caption,
tfoot {
  background-color: #ffe8d6;
}

tbody tr:nth-child(4) td:nth-child(3) {
  background-color: #6b705c;
  color: white;
}
