/* 
Coolers colors
dark green: #283618
light green: #606c38
brown: #bc6c25

Logo colors
dark blue/green: #5e6c6a
light blue: #e4f9f5

*/

body {
  max-width: 780px;
  margin: 1.25em auto;
  font-family: "Barlow Semi Condensed", sans-serif;
}

header img {
  max-width: 15em;
}

header,
footer {
  background-color: #5e6c6a;
  color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 10px;
}

main {
  background-color: #e4f9f5;
}

a {
  text-decoration: none;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-family: "Barlow Semi Condensed", sans-serif;
  overflow: hidden;
  font-size: 1.5em;
}

/* for medium and large use flex- driection row. Or display grid */

nav li {
  display: list-item;
}

nav ul li {
  flex: 1 1 auto;
}

nav li a {
  display: block;
  text-align: center;
  color: white;
  padding: 20px;
}

nav li a:hover {
  background-color: white;
  color: #5e6c6a;
}

h1,
h2,
h3 {
  font-family: "Barlow Semi Condensed", sans-serif;
}
